<header>
    <div>
        <h3>220.000 unsettled</h3>
        <span>Just waiting for you to push the button!</span>
    </div>
</header>

<div class="business-intelligence">
    <h3>Current business</h3>
    <ul ng-repeat="(company_id, company) in companies | filter: notEqualTo(company)" class="current-business">
        <li ng-show="company_id !== currentUserCompany">
            <div class="img">
                <a ng-href="/#/activity/{{company_id}}/">
                    <img src="/images/top-logo.png">
                </a>
            </div>
            <div class="details">
                <a ng-href="/#/activity/{{company_id}}/" ng-bind="company.name"></a>
                <span>DKK 4,000.00</span>
            </div>
       </li>
    </ul>

    <ul class="past-business">
        <h3>Past business</h3>
        <li>
            <a href="#">
                <span><i class="fa fa-long-arrow-left"></i></span>
                <span>YayArt</span>
                <span class="total">50.000 DKK</span>
                <span class="date">12.01.13</span>
            </a>
        </li>
         <li>
            <a href="#">
            <span><i class="fa fa-long-arrow-right"></i></span>
                <span>YayArt</span>
                <span class="total">50.000 DKK</span>
                <span class="date">12.01.13</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span><i class="fa fa-long-arrow-left"></i></span>
                <span>YayArt</span>
                <span class="total">50.000 DKK</span>
                <span class="date">12.01.13</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span><i class="fa fa-long-arrow-left"></i></span>
                <span>YayArt</span>
                <span class="total">50.000 DKK</span>
                <span class="date">12.01.13</span>
            </a>
        </li>
    </ul>
    <div class="load-more">
        <a href="#" class="button">Load more</a>
    </div>
</div>