<header>
    <div>
        <h3>Overview</h3>
        <span>To be invoiced: 220.000</span>
    </div>
</header>

<div class="business-intelligence">
    <h3>Current business</h3>
    <ul ng-repeat="(company_id, company) in companies" class="current-business">
        <li>
            <div class="img">
                <a ng-href="/#/activity/{{company_id}}/">
                    <img src="/images/top-logo.png">
                </a>
            </div>
            <div class="details">
                <a ng-href="/#/activity/{{company_id}}/" ng-bind="company.name"></a>
                <span>DKK 4,000.00</span>
            </div>
       </li>
    </ul>


    <ul class="past-business">
        <h3>Old invoices</h3>
        <li>
            <a href="#">
                <span>YayArt</span>
                <span>50.000 DKK</span>
                <span>12.01.13</span>
            </a>
        </li>
         <li>
            <a href="#">
                <span>YayArt</span>
                <span>50.000 DKK</span>
                <span>12.01.13</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>YayArt</span>
                <span>50.000 DKK</span>
                <span>12.01.13</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>YayArt</span>
                <span>50.000 DKK</span>
                <span>12.01.13</span>
            </a>
        </li>
    </ul>
    <div class="load-more">
        <a href="#" class="button">Load more</a>
    </div>
</div>