<header>
  <div class="back">
    <a ng-click="showMenu()">
      <i class="fa">&#xf0c9;</i>
    </a>
  </div>
    <div class="menu-header">
        <h3>Overview</h3>
<!--         <span>It's a good day today!</span>
 -->    </div>
    <div class="add" >
      <a >
        <i class="fa fa-plus"></i>
      </a>
    </div>
</header>

<div class="menu">
  <div class="logo">
   <img src="/images/ts-logo.png">
  </div>
  <span class="menu-section">COMPANY</span>
  <ul>
    <a ng-href="/">
      <li><i class="fa fa-tachometer"></i>Overview</li>
    </a>
    <a ng-href="/#/products">
      <li><i class="fa fa-truck"></i>Products</li>
    </a>
    <a ng-href="/#/contacts">
      <li><i class="fa">&#xf0c0;</i>Contacts</li>
    </a>
    <a>
      <li><i class="fa fa-file-text"></i>Invoices</li>
    </a>
    <span class="menu-section">APPS</span>
    <ul>
      <a>
        <li><img src="/images/favicon.png" class="favicon">  China Merchant Bank</li>
      </a>
    </ul>
    <span class="menu-section">USER</span>
    <ul>
      <a ng-href="/#/settings">
        <li><i class="fa fa-cog"></i>Settings</li>
      </a>
    </ul>
  </ul>
</div>

<div class="container">

<div class="business-intelligence">
<!--   <h3>Performance</h3>
  <div class="chart">
    <img src="/images/chart.png">
  </div> -->

  <h3>Current business</h3>
    <ul class="active-business">
        <li ng-repeat="(companyId, company) in companies" ng-show="companyId !== activeUser.company" >
          <a ng-href="/#/feed/{{companyId}}/">
              <span><i class="fa fa-exchange"></i></span>
              <span ng-bind="company.name" class="company-name"></span>
              <span class="amount">{{totaltUnsettledByCompany[companyId] | currency: 'DKK'}}</span>
          </a>
       </li>
      <div class="total">
        <h2><span>Total</span> {{totalUnsettled | currency: 'DKK'}}</h2>
      </div>
    </ul>

    <ul class="contacts">
      <h3>Latest Contacts</h3>
      <!-- <div class="list-all"><a>SHOW ALL</a></div> -->
      <li  >
        <a ng-href="/#/contact">
          <img ng-src="/images/chinese-persona-2.png" alt="">
          <span class="company-name">盼盼珠宝</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">120</div>
          </span>
        </a>
      </li>
      <li  >
        <a ng-href="/#/contact">
          <img ng-src="/images/chinese-persona-3.jpg" alt="">
          <span class="company-name">百世鞋业</span>
          <span class="rating">
            <div class="rating-score">32</div>
          </span>
        </a>
      </li>
      <li  >
        <a ng-href="/#/contact">
          <img ng-src="/images/chinese-persona-4.jpg" alt="">
          <span class="company-name">Nike</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">232</div>
          </span>
        </a>
      </li>
    </ul>
   <!--  <ul class="past-business">
      <h3>Invoices</h3>
      <li ng-repeat="invoice in parsedInvoices">
          <a href="#">
              <span><i class="fa fa-long-arrow-{{invoice.direction}}"></i></span>
              <span>{{invoice.company_id}}</span>
              <span class="amount">{{invoice.price | currency: 'DKK'}}</span>
          </a>
      </li>
    </ul> -->
<!--   <div class="load-more">
      <a href="#" class="button">Load more</a>
  </div> -->
</div>


  <!-- Sidebar: Settings -->

  <section class="pickers">
  <div class="picker-bg" ng-click="hidePickers()"></div>
  <div class="settings-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1>Edit &hellip;</h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <ul>
          <li><a ng-href="/#/settings">Settings</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
  </section>

</div>
