@import "_colors.less";
@import "_mixins.less";
@import "_variables.less";
@import "font-awesome/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);

@green : #00BE70;



body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: @black;
	font-weight: 400;
	cursor: pointer;
}

h3 {
	margin-top: 11px;
	padding-bottom: 5px;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	border-bottom: 1px dotted #333;
}

fieldset {
	border: none;
}

canvas{
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}

.button {
	font-size: 14px;
	color: white;
	padding: 11px;
	background-color: @tsblue;
	width: 100%;
	display: inline-block;
	cursor: pointer;
	.rounded();
	border: none;
	box-sizing: border-box;

	i {
		float: right;
		margin-top: 3px;
	}
}

.green {
	background-color: @action;
}
.red {
	background-color: @danger !important;
}

.move-menu {
  transition: all 0.2s ease;
  left: 270px !important;
      -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



header {
  transition: all 0.2s ease;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 44px;
	background-color: @black;
	text-align: center;
  z-index: 0;

  .menu-header {
    width:  calc(~" 100% - 88px ");
    text-align: center;
    margin-left: 44px;
  }

	h3 {
		text-transform: capitalize;
    color: white;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		display: block;
		line-height: 0px;
		padding: 22px 0px 0 0;
		margin: 0px;
		border-bottom: none;
	}
	span {
		display: inline;
		font-size: 11px;
		color: white;
		font-weight: 300;
		color: #ccc;
	}
	.back {
		position: relative;
    display: inline-block;
    float: left;
		width: 44px;

		a {
			display: inline-block;
			height: 44px;
			width: 44px;

		}
	}
	.add {
		position: absolute;
		top: 0px;
		right: 0;
		float: right;
		width: 44px;
		a {
			display: inline-block;
			height: 44px;
			width: 44px;
		}
	}
	i {
		margin-top: 15px;
		color: @tsblue;
	}
}

.menu {
    -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition: all 0.2s ease;
  background-color: #333;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 270px;
  z-index: -5;
  overflow: hidden;
  min-height: 500px;

  ul {
    margin:0px !important;
    padding: 0px !important;
    float: left;
    width: 100%;
    a {
      color: #dddddd;
    }
    .favicon {
      height: 20px;
      float: left;
      margin-right: 5px;

    }
    li {
      padding: 11px;
      list-style: none;
      font-size: 14px;
      background-color: #2b2b2b;
      border-bottom: 1px solid #212121;
      margin:0px;
      width: 100%;
      font-weight: 300;
      i {
        width: 26px;
      }
    }
  }

  .logo {
    height: 44px;
    background-color:#222;
    img {
      margin-top: 2px;
      margin-right: 4px;
      padding: 12px;
      height: 16px;
    }
  }

  .menu-section {
    background-color: #373737;
    font-size: 11px;
    font-weight: 400;
    color:#999;
    padding: 3px 3px 3px 11px;
    width: 100%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #212121;
  }
}

.container {
  overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition: all 0.2s ease;
  position: absolute;
  left: 0px;
  top:44px;
  width: 100%;
  min-width: 100%;
  min-height: calc(~" 100% - 44px ");
  background-color: white;
}

.generateInvoice, .invoiceSent {
	overflow: hidden;
	padding: 22px;
	margin: 11px 11px 11px 11px;
	background-color: @info;
	p {
		margin: 0px 0px 5px 0px;
		padding: 0px;
	}
	small {
		display: block;
		margin-bottom: 11px;
		color: #333;
		font-style: italic;
	}
	clear: both;
	.secondary {
		width: 38%;
		float: left;

	}
	.green {
		width: 60%;
		float: right;
	}

}

.transactions {
	background-color: #eee;
	padding-top: 5px;


	.quote {
		background-image: url('/images/stripe.png');
	}

	.timestamp {
		background-color: #ddd;
		font-size: 11px;
		font-weight: 600;
		padding: 3px 6px;
		margin: 0px 5px 5px 5px;
		text-transform: uppercase;
	}

	.generate {
		background-color: @info;
		margin: 11px;
		padding:22px;
		margin-top: 5px;

		p {
			margin: 0px;
			font-size: 14px;
			margin-bottom: 11px;
		}
	}

	.transaction {
		position: relative;
		font-size: 16px;
		font-weight: 300;
		padding:11px 11px 0px 11px;
		cursor: pointer;
		background-color: white;
		margin: 0px 5px 5px 5px;
		min-height: 60px;
		text-transform: capitalize;

		.creator {
			float: left;
			height: 50px;
			width: 50px;
			img {
				position: absolute;
				left: 11px;
				top:11px;
				height: 45px;
				.rounded(25px);
				margin-right: 11px;
			}
		}

		.update {
			display: block;
			overflow: hidden;
			margin: 6px 0px 0px 6px;

			.object {
				float: left;
				margin-left: 6px;

				padding-bottom: 11px;
				.secondary {
					float: left;
				}
			}
			.price {
				display: block;
				width: 30%;
				min-width: 100px;
				float: right;
				text-align: right;

				.secondary {
					float: right;
				}
			}
			.primary {
				max-width: 120px;
				font-size: 14px;
				display: block;
				line-height: 18px;
				font-weight: 400;
			}
			.secondary {
				line-height: 18px;
				font-size: 11px;
				font-weight: 300;
			}
		}

		.comments {
			margin-left:0px;
			display: block;
			font-size: 12px !important;
			margin-bottom: 11px;

			.comment {
				border-top: 1px dotted #eee;
				padding:11px 0px;

				.person{
					display: inline-block;
					min-width: 54px;
					a {
						font-weight: 300;
						color: #999;
					}
				}
				.content {
					font-weight: 400;
				}
			}
		}
	}
}

.products {
	padding: 11px;
	input {
		height: 33px;
		.rounded(17px);
		border: 1px solid #eee;
		width: calc(~" 100% - 11px ");;
		padding-left: 11px;
    margin-bottom: 11px;
	}

  h3 {
    margin: 0px;
  }

  ul {
    margin:0px !important;
    padding: 0px !important;
    float: left;
    width: 100%;
    a {
      color: #333;
    }
    .favicon {
      height: 20px;
      float: left;
      margin-right: 5px;

    }
    li {
      padding: 11px 0px;
      list-style: none;
      font-size: 14px;
      border-bottom: 1px dotted #eee;
      margin:0px;
      width: 100%;
      font-weight: 300;
      i {
        width: 26px;
      }
    }
  }
  .rating {
    float: right;
    i {
      width: 17px;
    }
  }
}

.contacts {
  padding: 11px;
  input {
    height: 33px;
    .rounded(17px);
    border: 1px solid #eee;
    width: calc(~" 100% - 11px ");;
    padding-left: 11px;
    margin-bottom: 11px;
    background-color: @info;
  }

  h3 {
    margin: 0px;
  }

  ul {
    margin:0px !important;
    padding: 0px !important;
    float: left;
    width: 100%;
    a {
      color: #333;
    }
    .favicon {
      height: 20px;
      float: left;
      margin-right: 5px;

    }

    li {
      padding: 11px 0px;
      list-style: none;
      font-size: 14px;
      border-bottom: 1px dotted #eee;
      margin:0px;
      width: 100%;
      font-weight: 300;
      img {
        margin-right: 6px;
        float: left;
        height:35px;
        .rounded(20px);
        margin-top: -6px;
      }

      i {
        width: 26px;
      }
    }
  }
  .rating {
    float: right;
    width: 60px;
    i {
      width: 17px;
    }
    img {
      margin-top: -3px;
      height: 25px !important;
      float: right;
    }
  }
}


.total-feed {
	padding-bottom: 122px;
		h2 {
			border-bottom: 3px double #ccc;
			margin-right: 11px;
			margin-bottom: 0px;
			float: right;
			font-size: 14px;
			font-weight: 600;
			text-align: right;
		}
		span {
			display: block;
			font-size: 12px;
			text-align: right;
			font-weight: 300;
			margin-bottom: 5px;
		}
	}

.business-intelligence {
	padding: 11px 11px 11px 11px;
	min-height: 500px;
	h3 {
		margin: 0px 0px 0px 0;
		padding-top: 0px;
	}

	ul {
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}

	.chart {
		img {
			width: 300px;
		}
	}

	.active-business {
    margin-bottom: 22px;
		li {
			height: 44px;
      font-size: 14px;
			border-bottom: 1px dotted #eee;
			.amount {
				float: right;
			}
			span {
				display: inline-block;
				margin-top: 11px;
				&:first-child {
					width: 20px;
				}
			}
		}
		.total {
			h2 {
				margin: 8px 0px 0px 0px;
				border-bottom: 3px double #ccc;
				float: right;
				font-size: 14px;
				display: block;
				float: right;
				font-weight: 400;
				.left {
					margin-right: 11px;
				}
			}
			span {
        text-transform: uppercase;
				font-size: 11px;
        color: #999;
        font-weight: 300;
			}
		}
	}

	.contacts {
    margin-top: 22px;
    position: relative;

    .list-all {
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 11px;
      font-weight: 600;

    }

		li {
      height: 44px;
      font-size: 14px;
      border-bottom: 1px dotted #eee;
      list-style: none;

      img {
        height: 35px !important;
        .rounded(20px);
        float: left;
        margin-top: 5px;
        margin-right: 8px;
      }

      .rating {
        float: right;
        margin-top: 6px;
        // border: 1px solid #eee;
        // background-color: #fbfbfb;
        padding: 3px 3px 3px 9px;
        .rounded(3px);
        text-align: right;

        .rating-score {
          display: block;
          margin-top: 2px;
          float: left;
          color: #333;
        }

        img {
          height: 25px !important;
          margin: 0px  0px 0px 5px !important;
          float: right;
        }

      }
      .company-name {
        display: inline-block;
        margin-top: 11px;
      }
    }
	}



	.past-business {
		margin-top: 22px;
		li {
      font-size: 14px;
			height: 44px;
			border-bottom: 1px dotted #eee;
			.amount {
				float: right;
			}
			span {
				display: inline-block;
				margin-top: 11px;
				&:first-child {
					width: 20px;
				}
			}
		}
	}
	.load-more {
		text-align: center;
		padding-top: 11px;
		display: block;
		width: 50%;
		margin-left: 25%;

		a {
			width: c(~" 100% - 22calpx ");
		}
	}
}


.pickers {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;

	h3 {
		margin: 0px 0px 5px 0px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.quantity {

		li {
			display: inline-block;
			height: 22px;
			margin-bottom: 5px;

			&:last-child {
				width: 170px;
				input {
					width:175px;
				}
			}
		}
	}


	ul {
		padding: 0px;
		margin: 0px 0px 11px 0px;

		.selected {
			background-color: @tsblue !important;
			color: white !important;
		}
		li {
			color: @tsblue;
			padding: 11px;
			margin-bottom: 1px;
			height: 22px;
			list-style: none;
			margin-left: 0px;
			font-size: 14px;
			background-color: @activelitest;
			cursor: pointer;

			i {
				float: right;
				margin-top: 4px;
			}
			.discount {
				float: right;
				color: lighten(@active, 25%);
				font-weight: 300;
			}
			input {
				margin: -11px -11px -11px 0;
				height: 33px;
				border: none;
				background-color: transparent;
			}
		}
	}

	textarea {
		width: calc(~" 100% - 8px ");
		margin-bottom: 11px;
	}
	.picker-bg {
		position: relative;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color:rgba(50,50,50,0.8);
	}
	.picker-data {
		display: block;
		padding: 11px;

		input {
			background-color: @xliteliter;
			border: none;
		}
		.comment {
			margin-bottom: 22px;
		}
		.button {
			width: 100% !important;
			box-sizing: border-box;
		}
	}
	.picker-content {
		z-index: 11;
		width: 300px;
		position: fixed;
		top: 0;
		right: 0;
		background-color: white;
		height: 100%;
		overflow-y: auto;

		.picker-header {
			background-color: @tsblue;
			height: 44px;
			width: 100%;
			overflow: hidden;

			h1 {
				margin-top: 9px;
				font-weight: 300;
				font-size: 18px;
				color: white;
				margin-left: 22px;
			}
			a {
				width: 44px;
				height: 44px;
				display: inline-block;
				position: absolute;
				right: 0px;
				top: 0px;
			}
			i {
				margin: 14px 0 0 16px;
				color: white;
			}
		}
	}
	.product-picker {
		display: none;
		position: relative;
		z-index: 12;
	}
	.quote-picker {
		display: none;
		position: relative;
		z-index: 12;
	}
	.select-picker {
		display: none;
		position: relative;
		z-index: 13;
	}
	.edit-picker {
		display: none;
		position: relative;
		z-index: 15;
	}
	.lineActions-picker {
		display: none;

		.button {
			box-sizing: border-box;
		}
	}
	.newProduct-picker {
		display: none;
		z-index: 14;
		position: relative;
		input {
			width: 100%;
		}
	}
}

.contact-list {
  text-align: center;
  padding: 11px;

  .logo {
    img {
      width: 250px;
    }
  }

  .people {

    .person {
      position: relative;
      img {
        margin-top: -6px;
        float: left;
        margin-right: 11px;
        height: 35px;
        .rounded(20px);
      }
      .title {
        float: right;
      }
    }
  }

  .details {
    position: relative;
    margin: 3px 0px 22px 0px;
    p {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      margin: -11px 0px 0px 0px;
      padding: 0px;

      img {
        height: 25px !important;
        position: absolute;
        top: -3px;
        margin-left: 5px;
      }
    }
  }

  .your-products {
    position:relative;
  }

  .list-all {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 11px;
    font-weight: 600;
  }

  h3 {
    text-align: left;
    margin-bottom: 0px;
  }
  ul {
    padding: 0px;
    margin: 0px;
    li {
      font-size: 14px;
      border-bottom: 1px dotted #eee;
      text-align: left;
      color: #333;
      padding: 11px 0px;
      margin-bottom: 1px;
      height: 22px;
      list-style: none;
      margin-left: 0px;
      cursor: pointer;

      .price {
        float: right;
      }
    }

  }
}
.currency {
  font-size: 11px;
  font-weight: 300;
  color: #999;
}


.settings-picker {
	display: none;
	position: relative;
	z-index: 16;
}
// sqren temp styles
.transaction.selected {
	background-color: @xlite;
}

.transactions .transaction .comments .comment.commentUpdate {
  color: #ddd;
  font-weight: 300 !important;
  font-style: italic;
}

.button.warning {
  background-color: red;
}

input.setting {
  background-color: #e6f5ff;
  border: none;
  font-size: 15px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.invoice-requested {
	overflow: hidden;
	margin-top: 110px;
	color: #ccc;
	position: relative;

	margin-bottom: 6px !important;
	img {
		opacity: 0.5;
	}
	&:before{
		display: inline-block;
		width: 140px;
		text-align: center;
		-webkit-transform:rotate(45deg);
		top: 10px;
		right: -45px;
		background-color: @active;

		position: absolute;
		z-index: 1;
		font-size: 12px;
		padding-top: 11px;
		height: 30px;
		font-weight: 700;
		color: #fff;
		content: "Waiting";
	}
}

.login {
	margin: 10px;
	ul {
		padding: 0;
		li {
			list-style-type: none;
			overflow: hidden;
			border-radius: 6px;

			input {
				width: 100%;
				background-color: @xliteliter;
				border: none;
				padding: 10px;
			}
		}
	}
}