@import "_colors.less";
@import "_mixins.less";
@import "_variables.less";
@import "font-awesome/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 44px;
	background-color: @black;

	h3 {
		color: white;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		padding-top:11px;
		display: block;
	}
}

.transaction {
	height: 44px;
	position: relative;
	font-size: 18px;
	font-weight: 300;
	padding: 11px 0;
	.object {
		width: 70%;
	}
	.price {
		width: 30%;
		float: right;
		text-align: right;
	}
}