<div class="login">
  <form ng-submit="updateUserInfo()" ng-show="activeUser">
    <p>Please update your info</p>
    <ul>
      <li>
        <input type="text" ng-model="activeUser.name" placeholder="Navn">
      </li>
      <li>
        <input type="text" ng-model="activeUser.email" placeholder="Email">
      </li>
      <li>
        <input type="text" ng-model="activeCompany.name" placeholder="Company">
      </li>
    </ul>
    <button type="submit" class="button">Get started!</button>
  </form>

  <button class="button" ng-click="facebookLogin()" ng-hide="activeUser">Login with Facebook</button>

</div>
