<header>
  <div class="back">
    <a href="/#/business-intelligence">
      <i class="fa fa-arrow-left"></i>
    </a>
  </div>
  <div>
    <h3 ng-bind="passiveCompany.name"></h3>
  </div>
  <div class="add" >
    <a ng-click="addItem()">
      <i class="fa fa-plus-circle"></i>
    </a>
  </div>
</header>


<div class="generateInvoice" ng-show="selectLinesForInvoiceMode">
  <p>{{selectedLineIds.length}} items worth {{getSelectedLinesTotal()}} selected</p>
  <a class="button" ng-click="generateInvoice()">
    Generate invoice
    <i class='fa fa-cogs'></i>
  </a>
</div>

<div class="transactions">
  <div class="timestamp">Today</div>
  <div class="transaction"
    ng-class="{selected: selectedLineIds.indexOf(lineId) > -1}"
    ng-repeat="(lineId, line) in feed.lines" ng-click="clickLine(lineId)">
    <div class="creator">
      <img ng-src="https://graph.facebook.com/{{line.user}}/picture?width=80&height=80" alt="">
    </div>
    <div class="update">
      <div class="object">
        <span class="primary">{{line.product.title}}</span>
        <span class="secondary"></span>
      </div>
      <div class="price">
        <span class="primary">{{(line.product.custom_price * line.product.quantity) | currency: line.product.currency}}</span>
        <span class="secondary">{{line.product.quantity}}&nbsp;*&nbsp;{{line.product.custom_price | currency: line.product.currency}}</span>
      </div>
    </div>
    <div class="comments">
      <div class="comment" ng-hide="line.description === ''">
        <span class="person">{{line.user | username}}</span>
        <span class="content">{{line.description}}</span>
      </div>
      <div class="comment" ng-repeat="comment in line.comments" ng-class="{true: 'commentUpdate'}[comment.type == 'update']">
        <span class="person" ng-hide="comment.type == 'update'"><a href="#">{{comment.user | username}}</a></span>
        <span class="content">{{comment.comment}}</span>
      </div>
    </div>

  </div>
  <div class="timestamp">Yesterday</div>
  <div class="total">
    <h2>
      <span>Total due </span>
      {{getTotal() | currency: 'USD'}}
    </h2>
  </div>
</div>


<section class="pickers">
  <div class="picker-bg" ng-click="hidePickers()"></div>
  <div class="add-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1>Actions</h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <h3>Add &hellip;</h3>
        <ul>
          <li ng-click="addProduct()">
            <span>Product</span>
            <i class="fa fa-chevron-right"></i>
          </li>
          <li>
            <span>Quote</span>
            <i class="fa fa-chevron-right"></i>
          </li>
          <li>
            <span>Expense</span>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <h3>Other</h3>
        <ul>
          <li ng-click="clickSelectLinesForInvoice()">Generate invoice</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="product-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1>Add product</h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <h3>Select existing</h3>
        <ul>
          <li ng-repeat="product in products" ng-click="setProduct(product)">
              {{product.title}}
              <i class="fa fa-chevron-right"></i>
          </li>
          <br>
          <h3>Add new</h3>
          <li ng-click="showAddNewProduct()">
            Add new product
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sidebar: Add product to feed -->
  <div class="select-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1>{{newActivity.product.title}}</h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <form ng-submit="saveNewActivity()">
          <h3>Select price</h3>
          <ul>
            <li
              ng-class="{selected: newActivity.product.custom_price == newActivity.product.price}"
              ng-click="setCustomPrice(newActivity.product.price)" >
              {{newActivity.product.price | currency: newActivity.product.currency}}
            </li>
            <li
              ng-class="{selected: newActivity.product.custom_price==(newActivity.product.price * 0.9)}"
              ng-click="setCustomPrice(newActivity.product.price * 0.9)">
              {{(newActivity.product.price * 0.9) | currency: newActivity.product.currency}}
              <span class="discount">10% discount</span>
            </li>
            <li
              ng-class="{selected: newActivity.product.custom_price==(newActivity.product.price * 0.8)}"
              ng-click="setCustomPrice(newActivity.product.price * 0.8)">
              {{(newActivity.product.price * 0.8) | currency: newActivity.product.currency}}
              <span class="discount">20% discount</span>
            </li>
            <li
              ng-class="{selected: newActivity.product.custom_price==(newActivity.product.price * 0.7)}"
              ng-click="setCustomPrice(newActivity.product.price * 0.7)">
              {{(newActivity.product.price * 0.7) | currency: newActivity.product.currency}}
              <span class="discount">30% discount</span>
            </li>
            <li>
              <span>{{newActivity.product.currency}}</span>
              <input type="number" placeholder="Other price" ng-model="newActivity.product.custom_price">
              <span class="discount">
                <span ng-bind="((1 - (newActivity.product.custom_price/newActivity.product.price)) * 100) | number: 0"></span>
                % discount
              </span>
            </li>
          </ul>

          <h3>Quantity</h3>
          <ul class="quantity">
            <li
              ng-class="{selected: newActivity.product.quantity == 1}"
              ng-click="setQuantity(1)">1</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 2}"
              ng-click="setQuantity(2)">2</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 3}"
              ng-click="setQuantity(3)">3</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 4}"
              ng-click="setQuantity(4)">4</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 5}"
              ng-click="setQuantity(5)">5</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 6}"
              ng-click="setQuantity(6)">6</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 7}"
              ng-click="setQuantity(7)">7</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 8}"
              ng-click="setQuantity(8)">8</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 9}"
              ng-click="setQuantity(9)">9</li>
            <li
              ng-class="{selected: newActivity.product.quantity == 10}"
              ng-click="setQuantity(10)">10</li>
            <li>
              <input type="number" placeholder="Other quantity" ng-model="newActivity.product.quantity">
            </li>
          </ul>

          <h3>Comment</h3>
          <div class="comment">
            <input type="text" placeholder="Optional comment" ng-model="newActivity.description" class="_textual">
          </div>
          <button class="button" type="submit">Done</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Sidebar: Create new product -->
  <div class="newProduct-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1>New product</h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <form ng-submit="addNewProduct()" class="newProduct">
          <ul>
            <li>
              <input type="text" name="title" placeholder="Name">
            </li>
            <li>
              <input type="number" name="price" placeholder="Price">
            </li>
            <li>
              <input type="text" name="currency" placeholder="Currency">
            </li>
            <li>
                <input type="number" name="tax" placeholder="Tax %">
            </li>
          </ul>
          <button type="submit" class="button">Save</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Sidebar: Add comment  -->
  <div class="lineActions-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1>Options</h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <ul>
          <h3>Comment</h3>
            <form class="comment-form" ng-submit="postComment()">
              <textarea></textarea>
              <button type="submit" class="button">Post comment</button>
            </form>
          <br>

          <h3>Actions</h3>
          <li ng-click="showEdit()" ng-show="activeUser.id === clickedLine.user">
            <span>Edit</span>
            <i class="fa fa-chevron-right"></i>
          </li>
          <li ng-show="activeUser.id === clickedLine.user">
            <span>Delete</span>
            <i class="fa fa-ban"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <!-- Sidebar: Edit  -->
  <div class="edit-picker">
    <div class="picker-content">
      <div class="picker-header">
        <h1 ng-bind="clickedLine.product.title"></h1>
        <a ng-click="hidePickers()">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="picker-data">
        <form ng-submit="updateProduct()">

          <h3>Select price</h3>
          <ul>
            <li
              ng-class="{selected: clickedLine.product.custom_price == clickedLine.product.price}"
              ng-click="setCustomPrice(clickedLine.product.price)" >
              {{clickedLine.product.price | currency: clickedLine.product.currency}}
            </li>
            <li
              ng-class="{selected: clickedLine.product.custom_price==(clickedLine.product.price * 0.9)}"
              ng-click="setCustomPrice(clickedLine.product.price * 0.9)">
              {{(clickedLine.product.price * 0.9) | currency: clickedLine.product.currency}}
              <span class="discount">10% discount</span>
            </li>
            <li
              ng-class="{selected: clickedLine.product.custom_price==(clickedLine.product.price * 0.8)}"
              ng-click="setCustomPrice(clickedLine.product.price * 0.8)">
              {{(clickedLine.product.price * 0.8) | currency: clickedLine.product.currency}}
              <span class="discount">20% discount</span>
            </li>
            <li
              ng-class="{selected: clickedLine.product.custom_price==(clickedLine.product.price * 0.7)}"
              ng-click="setCustomPrice(clickedLine.product.price * 0.7)">
              {{(clickedLine.product.price * 0.7) | currency: clickedLine.product.currency}}
              <span class="discount">30% discount</span>
            </li>
            <li>
              <span>{{clickedLine.product.currency}}</span>
              <input type="number" placeholder="Other price" ng-model="clickedLine.product.custom_price">
              <span class="discount"><span ng-bind="((1 - (clickedLine.product.custom_price/clickedLine.product.price)) * 100) | number: 0"></span>% discount</span>
            </li>
          </ul>

          <h3>Quantity</h3>
          <ul class="quantity">
            <li
              ng-class="{selected: clickedLine.product.quantity == 1}"
              ng-click="setQuantity(1)">1</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 2}"
              ng-click="setQuantity(2)">2</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 3}"
              ng-click="setQuantity(3)">3</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 4}"
              ng-click="setQuantity(4)">4</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 5}"
              ng-click="setQuantity(5)">5</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 6}"
              ng-click="setQuantity(6)">6</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 7}"
              ng-click="setQuantity(7)">7</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 8}"
              ng-click="setQuantity(8)">8</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 9}"
              ng-click="setQuantity(9)">9</li>
            <li
              ng-class="{selected: clickedLine.product.quantity == 10}"
              ng-click="setQuantity(10)">10</li>
            <li>
              <input type="number" placeholder="Other quantity" ng-model="clickedLine.product.quantity">
            </li>
          </ul>

          <h3>Add optional comment</h3>
          <div class="comment">
            <input type="text" placeholder="Optional comment" ng-model="clickedLine.comment" class="_textual">
          </div>
          <button class="button" type="submit">Done</button>
        </form>
      </div>
    </div>
  </div>
</section>