<header>
  <div class="back">
    <a href="/#/business-intelligence">
      <i class="fa fa-chevron-left"></i>
    </a>
  </div>
  <div class="menu-header">
    <h3>Products</h3>
  </div>
  <div class="add" >
    <a ng-click="addItem()">
      <i class="fa">&#xf141;</i>
    </a>
  </div>
</header>

<div class="container">
	<div class="products">
		<input type="text" placeholder="Find products">
		<h3>Your products</h3>
    <ul>
      <a href="">
        <li>
          女鞋1
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </a>
      <a href="">
      <li>男鞋
        <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
      </li>
      </a>
      <a href="">
        <li>童鞋
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </a>
      <a href="">
        <li>高跟鞋
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </a>
      <a href="">
        <li>坡跟鞋
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </a>
      <a href="">
        <li>靴子
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </a>
      <a href="">
        <li>平底鞋
          <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </li>
      </a>
    </ul>
	</div>
</div>