<header>
  <div class="back">
    <a href="/#/business-intelligence">
      <i class="fa fa-chevron-left"></i>
    </a>
  </div>
  <div class="menu-header">
    <h3>Contacts</h3>
  </div>
  <div class="add" >
    <a ng-click="addItem()">
      <i class="fa">&#xf141;</i>
    </a>
  </div>
</header>

<div class="container">
	<div class="contacts">
		<input type="text" value="盼盼珠宝">
		<h3>Matching contacts in your network</h3>
    <ul>
      <li  >
        <a >
          <img src="/images/chinese-persona-2.png" alt="">
          <span class="company-name">伯爵首饰公司</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">120</div>
          </span>
        </a>
      </li>
      <li  >
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-3.jpg" alt="">
          <span class="company-name">翠绿首饰公司</span>
          <span class="rating">
            <div class="rating-score">32</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-4.jpg" alt="">
          <span class="company-name">未名湖翡翠公司</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">232</div>
          </span>
        </a>
      </li>
      <br>
      <h3>Matching contacts on platform</h3>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-5.jpg" alt="">
          <span class="company-name">金丝雀珠宝公司</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">68</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-6.jpg" alt="">
          <span class="company-name">陌陌珠宝 </span>
          <span class="rating">
            <div class="rating-score">12</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-7.jpg" alt="">
          <span class="company-name">嘉佑珠宝</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">56</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-8.jpg" alt="">
          <span class="company-name">金天首饰/刘金</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">98</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-9.jpg" alt="">
          <span class="company-name">茉莉花首饰/李莉</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">132</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-10.jpg" alt="">
          <span class="company-name">粉红佳人珠宝公司/张佳</span>
          <span class="rating">
            <div class="rating-score">22</div>
          </span>
        </a>
      </li>
      <li>
        <a ng-href="/#/contact">
          <img src="/images/chinese-persona-11.jpg" alt="">
          <span class="company-name">吉娃珠宝加工/高吉</span>
          <span class="rating">
            <img src="/images/verified-02.png">
            <div class="rating-score">232</div>
          </span>
        </a>
      </li>
    </ul>
	</div>
</div>